body {
    background-color: #007700;
    color: #004400;
}

p {
    font-size:large;    
}

header {
    background-color: #00AA00;
    color: #BBFFBB; 
/* Default */

body {
    background-color: #000077;
    color: #000044;
}

p {
    font-size:large;    
}

header {
    background-color: #0000AA;
    color: #BBBBFF; 
    }
    article {
    background-color: #0000FF;
    color: #000088;     
}

.position01 {
    width: 50px;
    height: 50px;
    background-color: #BBFFBB;
    font-weight:bold;
}

.position02 {
    width: 50px;
    height: 50px;
    background-color: #88FF88;
    font-weight:bold;
}

.position03 {
    width: 50px;
    height: 50px;
    background-color: #55FF55;
    font-weight:bold;
}

